page-skin-digital-dos {
    .dark {
        background-color: #5A5349;
    }
    .luz-alta{
        color: cornflowerblue;
    }
    .alerta-velocidad-rural{
        color: salmon;
    }
    .alerta-velocidad-urbana{
        color: cornflowerblue;
    }
    .alerta-temperatura{
        color: salmon;
    }
    .card-md {
        margin: 0;
        min-height: 73.67px;
        border-radius: 2px;
        width: 100%;
        font-size: 1.4rem;
        background: transparent;
        border-style: solid;
        border-width: 1px;
        border-color: #A19A94;
        /* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
        /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    }
    .header-vel {
        font-family: 'Digital7';
        font-size: 1.3rem;
        color: #94FE90;
        padding: 3px;
    }
    .card-header-md {
        font-size: 1.3rem;
        color: #94FE90;
        padding: 3px;
    }
    .card-indicadores{
        font-family: 'Digital7';
        font-size: 2rem;
        font-weight: bold;
        color: #94FE90;

    }
    .card-indicadores-titulo{
        font-family: 'Digital7';
        font-size: 1.3rem;
        font-weight: bold;
        padding: 3px;
        color: #94FE90;

    }
    .card-indicadores-footer{
        font-family: 'Digital7';
        font-size: 1rem;
        font-weight: bold;
        color: #94FE90;

    }
    .cuadro-info{
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
        color: #94FE90;
        font-style: italic;
        font-weight: 400;
    }
    .iconClima{
        /*bottom: 19px;
        margin-left: 5px;*/
        font-size: 45px;
        position: relative;
        margin-left: 20%;
        padding-top: 8%;

        /*color:#fff;*/
      }
      .climaActual{
        margin-top: 0;
        margin-left: 9px;
        font-size: 30px;
        position: absolute;
        top: 247px;
        color: #fff;
        font-weight: 500
      }
      .powered{
        font-size: 72%;
        position: relative;
        /*top: 14px;*/
        /*right: 0px;*/
        margin-left: 20%;
        color: #757575;
      } 
}
